@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

@import "@ionic/angular/css/display.css";

@import url(
  "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@600;700;800&display=swap"
);

:root {
  --ion-font-family: "Inter", sans-serif;
}

html,
body {
  font-family: "Inter", sans-serif;
}

:root {
  --ion-color-primary: #247657;
  --ion-color-primary-rgb: 36, 118, 87;

  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;

  --ion-color-primary-shade: #206a4e;
  --ion-color-primary-tint: #3a8468;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow:
    0 0 0 1000px #ffffff inset;

  -webkit-text-fill-color: #24352e;
}
