<ion-content class="auth-content">

  <main class="auth-page">

    <section class="auth-card">

      <div class="auth-heading">

        <span class="auth-brand">
          Decision Workspace
        </span>

        <h1>
          {{
            mode() === 'login'
              ? 'Welcome back'
              : 'Create your account'
          }}
        </h1>

        <p>
          {{
            mode() === 'login'
              ? 'Continue working on your decisions.'
              : 'Save your decisions and continue from any device.'
          }}
        </p>

      </div>


      <form
        class="auth-form"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >

        <label>

          <span>Email</span>

          <ion-input
            type="email"
            fill="outline"
            autocomplete="email"
            placeholder="you@example.com"
            formControlName="email"
          />

        </label>


        <label>

          <span>Password</span>

          <ion-input
            type="password"
            fill="outline"
            autocomplete="current-password"
            placeholder="At least 6 characters"
            formControlName="password"
          />

        </label>


        @if (errorMessage()) {

          <ion-text
            color="danger"
            class="auth-message"
          >
            {{ errorMessage() }}
          </ion-text>

        }


        @if (successMessage()) {

          <ion-text
            color="success"
            class="auth-message"
          >
            {{ successMessage() }}
          </ion-text>

        }


        <ion-button
          type="submit"
          expand="block"
          class="auth-submit"
          [disabled]="submitting()"
        >

          @if (submitting()) {
            Please wait...
          } @else {
            {{
              mode() === 'login'
                ? 'Sign in'
                : 'Create account'
            }}
          }

        </ion-button>

      </form>


      <button
        type="button"
        class="switch-mode"
        (click)="switchMode()"
      >

        {{
          mode() === 'login'
            ? 'New here? Create an account'
            : 'Already have an account? Sign in'
        }}

      </button>

    </section>

  </main>

</ion-content>